.menu {
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 20px;
}
.btn {
  border-color: #A63E26;
  color: #A63E26;
}
.photo {
  text-align: center;
}
img {
  border-radius: 50%;
}
.socials {
  text-align: center;
  font-size: 20px;
}
.fa {
  padding: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #A63E26;
}
.education{
  background-color: #A63E26;
}
.fa-graduation-cap {
  color: white;
}
