.intro {
  font-family: "Catoro", serif;
}
.body {
  font-family: "Catoro", serif;
}
.related {
  text-align: right;
  font-family: "Castoro", serif;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: solid;
  border-left-color: #8C1414;
}
.related-pics {
  width: 15%;
  display: inline;
}
.millwood {
  width: 80%;
  padding-bottom: 2%;
}
.pullquote {
  text-align: center;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: #8C1414;
}
hr.solid {
  border-top: 3px solid #8C1414;
}
#sticky-footer{
  background-color: #8C1414;
  color: white;
}
