/*stykes for my resume*/
/*styles for basic body elements*/
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}
/*style for my name*/
.name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
/*style for my sections*/
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  margin: 20px 0 10px 0;
  width: 70%;
  min-width: 300px;
}
/*style for my experiences*/
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}
/*style for organization*/
h4 {
  font-size: 1.5em;
  font-weight: 400;
}
/*style for dates*/
h5 {
  font-size: 1em;
  font-style: italic;
}
/*style for paragraph elements*/
.p {
  font-size: 1em;
}
/*style for my title*/
.title {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33485e;
}
